* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* shared styles */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background: #469165;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
}

.btn a {
  /* text-decoration: none; */
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
}

/* main styles */

header {
  padding: 16px 0px 16px;
}

nav {
  width: 85%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 0;
}

nav ul {
  display: flex;
  gap: 32px;
}

li {
  list-style: none;
  color: black;
}

.banner {
  width: 100%;
  height: 674px;
  background-image: url(../assets/hero-bg.png);
  padding: 115.5px 0px 0px;
  text-align: center;
}

.circle-p p {
  background: white;
  display: inline-block;
  /* width: 229px; */
  /* height: 35px; */
  /* align-items: center; */
  /* justify-content: center; */
  /* vertical-align: middle; */

  position: relative;
  padding-left: 20px;
  color: #469165;
}

.banner h1 {
  font-size: 72px;
  font-weight: bold;
}
